:root {
  /* Colors */

  --white: #ffffff;
  --black: #000000;

  --bg: var(--white);
  --nav-link: rgba(var(--black), 0.5);

  /* Sizes */
  --max-width: 30rem;
  --space: 1rem;

  /* Typography */
  --font-size-p: 1.1rem;
  --font-size-clock: 5rem;
}

.link {
  font-style: italic;
  font-weight: bold;
  color: var(--nav-link);
}
